body{
    margin: 0;
    /* background-image: url(../content/black-girl-summer-city-with-laptop-dim-min.jpg);
    background-size: 100%;
    background-attachment: fixed; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

a{
    text-decoration: none;
}