.Sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10em;
    padding-bottom: 12em;
    /* border: 4px solid green; */
    height: 30vw;
    width: 100%;

}

#titlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid pink; */
    width: 100%;
}

#title{
    color: rgb(255, 166, 0);
    background-color: rgba(0, 0, 0, 0.397);
    font-size: 3.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgb(0, 255, 0); */
    border-radius: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 0.5em; 
}

#subtitlecontainer{
    background-color: rgba(0, 0, 0, 0.24);
    /* border: 2px solid rgb(255, 230, 0); */
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
}



#subtitle{
    color: rgb(244, 255, 240);
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 40px;
    font-size: 1.7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgb(0, 255, 0); */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right:  1em;
}

#subtitle:hover{
    color: rgb(244, 255, 240);
    background-color: rgba(43, 42, 42, 0.397);
    border-radius: 40px;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgb(0, 255, 0); */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right:  1em;
}

#serv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    /* border: 2px solid red; */
}

.serv1{
    color: rgb(62, 201, 20);
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 30px;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgb(0, 255, 0); */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}