@font-face{
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular-400.ttf);
}


.Sec-1{
    display: flex;
    justify-content: center;
    align-items: center    ;
    flex-direction: column;
    padding-top: 10em;
    padding-bottom: 12em;
    /* border: 4px solid green; */
    height: 1em;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(255, 85, 0, 0.705),rgba(114, 38, 0, 0.667),rgba(0, 0, 0, 0.168),rgba(0, 0, 0, 0.108),rgba(0, 0, 0, 0.119)),
                        linear-gradient(rgba(0, 0, 0, 0.189),rgba(0, 0, 0, 0)),
                        url(../serious-young-businesswoman-having-breakfast-min.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}

#titlecontainer{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    margin-top: 8em;
    width: 90%;
    padding-left: 1em;

}

#title{
    color:  rgb(255, 255, 255);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    /* -webkit-text-stroke: 0.7px rgb(207, 207, 207); */
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    height: 3rem;
}

#S1-subtitle{
    color:  rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    /* -webkit-text-stroke: 0.7px rgb(207, 207, 207); */
    display: flex;
    justify-content: left;
    align-items: center;
}

.DescriptionContainer{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
    width: 90%;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    color: white;
}

.TitleDescription{
    color:  rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-size: 1rem;
}


#serv{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 2em;
    padding-left: 2em;

    /* border: 2px solid red; */
    width: 90%;
}

.serv1{
    color: rgb(255, 255, 255);
    background-color:  rgb(43, 109, 3);
    border-radius: 1px;
    font-size: 1rem;
    font-family: Montserrat;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgb(0, 255, 0); */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}